<!DOCTYPE html>
<html>
<head>
  <title>DCInterview</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="nav">
    <%= render_navigation(expand_all: true) %>
  </div>
</nav>

<div>
  <%= yield %>
</div>

</body>
</html>
